{% extends "ProyectoWebApp/base.html" %}

{%load static%}

{%block content%}
<div class="formulario">

    {% if "valido" in request.GET %}

        <p style="color: rgb(60, 125, 168);">Enviado correctamente</p>

    {%endif%}
    {% if "Novalido" in request.GET %}

        <p style="color: rgb(241, 12, 12);">Error al enviar</p>

    {%endif%}
    
    <form action="" method="POST" style="text-align: center;">
    {%csrf_token%}
    <table style="color: white; margin: 20px auto;">{{miFormulario.as_table}}</table>
    <input type="submit" value="Enviar">
    </form>
</div>
{%endblock%}